* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.active {
  color: red !important;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #878383;
  outline: 1px solid #000;
  border-radius: 20px;
}

body {
  background-color: #000;
}
.logo {
  font-family: "Monoton", cursive;
  font-size: 35px;
  font-size: 400;
  color: red;
  position: relative;
}
.logo span {
  color: red;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 17px;
  position: absolute;
  top: 50%;
  right: -28px;
  transform: translateY(-50%);
}
.logo:hover,
.logo:visited {
  color: red;
}
::selection {
  background-color: red;
  color: #fff;
}
.links li a,
.links li a:visited {
  text-transform: capitalize;
  color: #878383;
  position: relative;
}
.links li a::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 5px;
  height: 1px;
  width: 0;
  background-color: red;
  transition: all 0.5s;
}
.links li a:hover::before {
  width: 88%;
}

.links li a:hover {
  color: red;
}
.box-search {
  position: relative;
}
.box-search input {
  background-color: #333;
  border-radius: 50px;
  border: none;
  color: #fff;
}
.box-search input:focus ~ .box-icon-search {
  right: -20px;
}
.box-search input::placeholder {
  color: #878383;
}
.icon-search {
  width: 20px;
}
.box-icon-search {
  width: fit-content;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-55%);
  transition: all 1s;
}
@media screen and (max-width: 992px) {
  .links li a:hover::before {
    width: 0;
  }
  .box-search input:focus {
    background-color: #333;
  }
  .box-search input:focus ~ .box-icon-search {
    right: 40px;
  }
}
/*= End Nav Bar ===============================================================================*/
